php_value display_errors 1
php_value memory_limit 1M
php_value auto_prepend_file "Utphpcore/Init.Core.php"

RewriteEngine On
RewriteBase /

RewriteRule ^index.php$ - [L]
RewriteRule ^(([-_a-z0-9\:]+)/?)+$ index.php [NC,L]

RewriteCond %{HTTP_HOST}@@%{HTTP_REFERER} !^([^@]*)@@https?://\1/.*
RewriteRule \.(css|xml|js|png|ico|eot|svg|ttf|woff|woff2)$ - [F]
RewriteRule Utphpcore$ - [F]
